* {
    padding: 0;
    /*delete spaces*/
    margin: 0;
    /*para conservar los input dentro de la caja*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    background: #fff;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

.form input {
    display: block;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #226fc1;
    font-family: Arial;
    font-size: 16px;
}

.form textarea {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    /*para no redimensionar el ancho*/
    max-width: 100%;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    border: 2px solid #4fb560;
}

.form input[type="submit"] {
    width: 200px;
    margin: 0 auto;
    background: none;
    border: 1px solid #4fb560;
    color: #4fb560;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.form input[type="submit"]:hover {
    background: #4fb560;
    color: #fff;
}