@keyframes colors {
    /*behavior of one cycle of a CSS animation*/
    /* from{background: #9eb3c2;}
    to{background: #21295c;} */
    0% {
        background: #9eb3c2;
    }
    25% {
        background: #1c7293;
        width: 300px;
    }
    50% {
        background: #065a82;
        width: 400px;
    }
    75% {
        background: #1b3b6f;
        width: 300px;
    }
    100% {
        background: #9eb3c2;
        width: 200px;
    }
}

.box1 {
    width: 200px;
    height: 200px;
    background: #9eb3c2;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes movement {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(500px);
    }
    /* 0%{transform: translate(0px);}
    50%{transform: translate(500px);}
    100%{transform: translate(0px);} */
}

.box2 {
    width: 200px;
    height: 200px;
    background: #9eb3c2;
    /*animation-name: movement;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    animation: movement 10s infinite;
}